<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список сотрудников</title>
    <link rel="stylesheet" href="{{ css_path }}">
</head>
<body>
    <table>
    <caption><h2>Список сотрудников</h2></caption>
    <tr>
        <th>№</th>
        <th>ФИО</th>
        <th>Дата рождения</th>
        <th>Оклад</th>
        <th>В отпуске</th>
    </tr>
    {% for item in org['Employees'] if item['id'] == id %}
    <tr>
        <td>{{item["id"]}}</td>
        <td>{{item["FIO"]}}</td>
        <td>{{item["bdate"]}}</td>
        <td>{{item["salary"]}}</td>
        <td>{% if item["on_leave"] == "True" %}
            Да
            {% else %}
            Нет
            {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>
<a href="/.."><button type="button" value="Назад">Назад</button></a>
</body>
</html>