.main-menu {
        padding: 10px;
        margin: auto;
        width: 25%;
        text-align:center;
    }
   input[type=button] {
        width: 100%;
        padding: 12px 20px;
        margin: 4px 0;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 12pt;
        background-color: #fff;
        border-color: #D3D3D3;
    }
    input[type=button]:hover {
        color: #ffffff;
        background-color: #7700ff;
        outline: 0;
    }