USE [master]
GO
/****** Object:  Database [195EV_TourAg]    Script Date: 06.10.2022 12:38:36 ******/
CREATE DATABASE [195EV_TourAg]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'195EV_TourAg', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\195EV_TourAg.mdf' , SIZE = 9024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'195EV_TourAg_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\195EV_TourAg_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [195EV_TourAg].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [195EV_TourAg]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 06.10.2022 12:38:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] NOT NULL,
	[FIO] [nvarchar](50) NOT NULL,
	[EnterDate] [date] NOT NULL,
	[ExitDate] [date] NULL,
	[HotelID] [int] NOT NULL,
	[Service] [nvarchar](50) NULL,
	[Tours] [int] NULL,
	[EatingID] [int] NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries$]    Script Date: 06.10.2022 12:38:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries$](
	[CountryName] [nvarchar](255) NOT NULL,
	[CountryCode] [char](10) NOT NULL,
 CONSTRAINT [PK_Countries$] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eating]    Script Date: 06.10.2022 12:38:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eating](
	[EatingID] [int] NOT NULL,
	[Eating] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Eating] PRIMARY KEY CLUSTERED 
(
	[EatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels$]    Script Date: 06.10.2022 12:38:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels$](
	[HotelID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Stars] [int] NOT NULL,
	[Country] [nvarchar](255) NOT NULL,
	[CountryCode] [char](10) NOT NULL,
 CONSTRAINT [PK_Hotels$] PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours$]    Script Date: 06.10.2022 12:38:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours$](
	[TourID] [int] IDENTITY(1,1) NOT NULL,
	[TourName] [nvarchar](255) NOT NULL,
	[TourPhoto] [varchar](50) NULL,
	[CountryCode] [char](10) NOT NULL,
	[TicketCount] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[IsActual] [int] NOT NULL,
	[TourTypeID] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tours$] PRIMARY KEY CLUSTERED 
(
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToursType]    Script Date: 06.10.2022 12:38:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToursType](
	[TourTypeID] [nvarchar](50) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ToursType_1] PRIMARY KEY CLUSTERED 
(
	[TourTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Eating] FOREIGN KEY([EatingID])
REFERENCES [dbo].[Eating] ([EatingID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Eating]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Hotels$] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels$] ([HotelID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Hotels$]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Tours$] FOREIGN KEY([Tours])
REFERENCES [dbo].[Tours$] ([TourID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Tours$]
GO
ALTER TABLE [dbo].[Hotels$]  WITH CHECK ADD  CONSTRAINT [FK_Hotels$_Countries$] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Countries$] ([CountryCode])
GO
ALTER TABLE [dbo].[Hotels$] CHECK CONSTRAINT [FK_Hotels$_Countries$]
GO
ALTER TABLE [dbo].[Tours$]  WITH NOCHECK ADD  CONSTRAINT [FK_Tours$_ToursType] FOREIGN KEY([TourTypeID])
REFERENCES [dbo].[ToursType] ([TourTypeID])
GO
ALTER TABLE [dbo].[Tours$] CHECK CONSTRAINT [FK_Tours$_ToursType]
GO
USE [master]
GO
