<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="EntitiesBlagodat" connectionString="metadata=res://*/model.Model1.csdl|res://*/model.Model1.ssdl|res://*/model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.20;initial catalog=195EV_Blagodat;user id=195ev;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesTour" connectionString="metadata=res://*/model.Model1.csdl|res://*/model.Model1.ssdl|res://*/model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.20;initial catalog=195EV_TourAg;user id=195ev;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TourAgencyEVEntities" connectionString="metadata=res://*/model.TourModel.csdl|res://*/model.TourModel.ssdl|res://*/model.TourModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VlayerPC;initial catalog=TourAgencyEV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>